.advanced-settings-container {
  width: 95%;
  margin: 10px auto;
  border: 1px solid black;
}

.advanced-settings-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.advanced-settings-header p {
  margin: 5px 5px;
  cursor: pointer;
}

.advanced-settings-container .settings {
  display: flex;
  flex-direction: column;
}

.advanced-settings-container .settings .settings-option {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.advanced-settings-container .settings .settings-option select {
  width: 50%;
}
