:root {
  --netflix: #e50914;
  --disney: #006e99;
  --hulu: #66aa33;
  --amazon: #ff9900;
}

body {
  background: rgb(80, 71, 71);
  background: linear-gradient(
    0deg,
    rgba(80, 71, 71, 1) 0%,
    rgba(123, 114, 114, 1) 100%
  );
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

.header {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  height: 10%;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.buttons-section h3 {
  margin: 0 2.5%;
}

.stream-buttons-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stream-buttons-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
}

.generate-button-section {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

/* .advanced-settings-section {
  height: 20%;
} */

.loader-div {
  width: 100%;
  height: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.loader-spinner {
  margin: auto auto;
}
