.stream-button {
  border-radius: 15px;
  border: none;
  font-weight: bold;
  width: 90%;
  margin: 10px auto;
  height: 40px;
  box-shadow: 9px 10px 14px -4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 9px 10px 14px -4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 9px 10px 14px -4px rgba(0, 0, 0, 0.17);
}

.stream-button-netflix {
  background: rgb(229, 9, 20);
  background: linear-gradient(
    90deg,
    rgba(241, 82, 82, 1) 0%,
    rgba(229, 9, 20, 1) 100%
  );
  color: white;
}

.stream-button-netflix:hover {
  animation-name: netflixButton;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes netflixButton {
  from {
    background: var(--netflix);
    color: white;
    border: white 1px solid;
  }
  to {
    background: white;
    color: var(--netflix);
    border: var(--netflix) 1px solid;
  }
}

.stream-button-disney {
  background: rgb(0, 110, 153);
  background: linear-gradient(
    90deg,
    rgba(0, 167, 252, 1) 0%,
    rgba(0, 110, 153, 1) 100%
  );
  color: white;
  animation-fill-mode: forwards;
}

.stream-button-disney:hover {
  animation-name: disneyButton;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes disneyButton {
  from {
    background: var(--disney);
    color: white;
    border: white 1px solid;
  }
  to {
    background: white;
    color: var(--disney);
    border: var(--disney) 1px solid;
  }
}

.stream-button-hulu {
  background: rgb(102, 170, 51);
  background: linear-gradient(
    90deg,
    rgba(148, 221, 150, 1) 0%,
    rgba(102, 170, 51, 1) 100%
  );
  color: white;
}

.stream-button-hulu:hover {
  animation-name: huluButton;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes huluButton {
  from {
    background: var(--hulu);
    color: white;
    border: white 1px solid;
  }
  to {
    background: white;
    color: var(--hulu);
    border: var(--hulu) 1px solid;
  }
}

.stream-button-amazon {
  background: rgb(255, 201, 120);
  background: linear-gradient(
    90deg,
    rgba(255, 201, 120, 1) 0%,
    rgba(255, 153, 0, 1) 100%
  );
  color: white;
}

.stream-button-amazon:hover {
  animation-name: amazonButton;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes amazonButton {
  from {
    background: var(--amazon);
    color: white;
    border: white 1px solid;
  }
  to {
    background: white;
    color: var(--amazon);
    border: var(--amazon) 1px solid;
  }
}
